
<div class='separator'%>
  <h4><%= "Merge Articles" %></h4>
  Article ID:
  <%= text_field :merge_with, :nil, :name => "merge_with", :id => "merge_with", :style => 'width: 100%' %>
  <span id='merge_with'>
    <%= content_tag :button, :type => :submit do %>
      Merge
    <% end %> 
  </span>
</div>
